.popup {
  background-color: #fff;
  max-width: 430px;
  margin: auto;
  min-height: 330px;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  max-height: 330px;
  bottom: 0;
  z-index: 99999;
}

@media screen and (max-width: 654px) {
  .popup {
    max-width: 282px;
    min-height: 322px;
   }
}

