.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  background-color: transparent;
  font-size: 14px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 17px;
  color: #000;
  font-weight: 400;
  width: 358px;
  margin: 30px auto 0;
  padding: 0 0 10px;
}

@media screen and (max-width: 654px) {
  .popup__input {
    margin-left: 22px;
  }
}
