.header {
  padding-top: 45px;
  max-width: 880px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 654px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
   }
}
